<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome to rubberDucking</title>
</head>

<body id="initialbody">
    <header class="initialImgc">
        <img src="txt1.png" alt="txt1" id="txt1" align="right" width="500px" height="80px" vertical-align="top">
    </header>
    <h1>this is the welcome message</h1>
   
     <aside class="initialImgc">
        <img src="img1.png" alt="initial_img" id="initialImg" width="350px" height="350px" vertical-align="middle">
     </aside>
    <section>
        <article>
             <h2>some more catchy things</h2>
             <h2>some more catchy things</h2> 
             <h2>some more catchy things</h2> 
        </article>
    <input type="button" value= "login" id="loginButton" class="button" style="background-image:url('rd1.png')">
    <input type="button" value= "Sign-up" id="signupButton" class="button" style="background-image:url('rd1.png')">
    <input type="image" src="rd1.png" width="50px" height="50px" onclick="window.location.href='login.html'" align="right"/>
    <input type="image" src="rd1.png" width="50px" height="50px" onclick="window.location.href='signup.html'" align="right"/>
    </section>
</body>
</html>


