<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login to rubberDucking</title>
</head>
<body>
    <h1>login to you account</h1>
    <h2>something catchy</h2>

    <form action="./timeline.html" method="GET">
        <label for="username">Enter Username</label>
        <input type="text" placeholder="unername" name="username" required> <br>

        <label for="pswd">Enter password</label>
        <input type="password" placeholder="password" name="password" required> <br>

        <button type="submit">login</button>
    </form>

</body>
</html>