<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sighup for rubberDucking</title>
</head>
<body>
    <h1>signup for a new account</h1>
    <h2>jbkjcbkejcb</h2>

    <form action="" method="GET">
        <label for="Firstname">Enter Firstname</label>
        <input type="text" placeholder="Firstname" name="Firstname" required> <br>

        <label for="Lastname">Enter Lastname</label>
        <input type="text" placeholder="Lastname" name="Lastname" > <br>

        <label for="email">Enter email</label>
        <input type="email" placeholder="email" name="email" required> <br>

        <label for="password">Select a Password</label>
        <input type="password" placeholder="password" name="password" required> <br>

        <label for="passwordAgain">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" name="passwordAgain" required> <br>

        <button type="submit">Sugn-up</button>

    </form>
</body>
</html>