<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <aside>
        <nav>
            <h5>self profile</h5>
            <h5>add post</h5>
            <h5>search</h5>
            <h5>sign-out</h5>
        </nav>
    </aside>

    <div>
        <article>
            <h1> inside the div</h1>
        </article>
    </div>
    
</body>
</html>