form {
    align-content: right;
    border: 3px solid #f1f1f1;
    float: left;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  .logo{
    align-content: left;
    max-width:100%;
    width: 25%;
  }

  h1{
    color: #1f067c;
    font-family: arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    }